################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/devops_jenkins/.vs
